#main table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px solid #95A5A6;
}

td:not(.shift) {
    padding: 0 5px;
}

.shift-input {
    outline: none;
    /* border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
    border: 0px;
    text-align: center;
    width: 100%;
    height: 48px;
    margin: auto;
}

.header {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.secondary .header {
    font-size: 1.4rem;
}

.rowheader {
    max-width: 50px;
    width: 3%; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.name {
    width: 17%;
}

.position {
    width: 7%;
}

.shift {
    width: 10%;
}

.hours {
    width: 3%;
    /* text-align: right; */
}

.number {
    text-align: right;
}

.rosterrow, .section .title {
    height: 50px;
    max-height: 50px;
}

.title {
    margin-top: -1px;
    margin-bottom: -1px;
}

.section .title {
    border-left: 1px solid #95A5A6;
    border-right: 1px solid #95A5A6;
    /* margin-left: 1px;
    margin-right: 1px; */
    padding-left: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background: palegoldenrod;
}

#top {
    height: 50px;
    padding: 5px 5px 5px 10px; 
}

td.shift {
    padding: 1px;
}

.active {
    background: blue;
}

.missing {
    background: #FEF9E7;
}

.invalid {
    background: #dc3545; /* #F5B7B1; */
    color: white;
}

h4 {
    display: inline;
}

#top .left {
    float: left;
    width: 70%;
}

#top .right {
    float: right;
    width: 30%;
    max-width: 300px;
}

.rostertotals {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    position: absolute;
    right: 0;
}

.stats .title, 
.rostertotals .title {
    width: 250px;
    background: palegoldenrod;
}

.stats .data, 
.rostertotals .data {
    min-width: 50px;
    max-width: 50px;
}

.gradeA {
    color: blue;
}

.highlight {
    background: #F7F30C;
}

td.position {
    padding: 0;
}

.position select {
    width: 100%;
    border: 0;
} 

.position select:focus {
    outline: 0;
}

.selectsearch-dialog input { /*#selectemployee-dialog input {*/
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-image: url('/images/searchicon.png');
    background-position: 10px 9px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #95A5A6;
}

.selectsearch-dialog ul { /*#selectemployee-dialog ul {*/
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #95A5A6;
    margin-top: -1px;
}

.selectsearch-dialog li { /*#selectemployee-dialog li {*/
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

.selectsearch-dialog li:active { /*#selectemployee-dialog li:active {*/
    background-color: #ABB2B9;
}

#selectemployee-dialog .local {
    background-color: #D3E3F2;
}

.haserrors:not(.vdp-datepicker__calendar) > label,
.haserrors:not(.vdp-datepicker__calendar) > span {
    color: red;
}

.haserrors:not(.vdp-datepicker__calendar) > select {
    border-color: red;
}

.haserrors .vdp-datepicker input{
    border-color: red;
}

.contextmenu-disabled {
    pointer-events:none; 
    opacity:0.6;         
}

.shortname {
    display: none;
}

.shift-read {
    display: none;
}

@media print {
    .rowheader,
    .position,
    .hours,
    .btn-add,
    .stats,
    .rostertotals,
    .longname,
    .shift-input {
        display: none;
    }

    .shortname {
        display: inline;
    }

    .shift-read {
        display: inline;
        font-size: 1.2rem;
    }

    .rosterrow {
        height: 0px;
        max-height: 0px;
    }

    .section .title {
        height: 20px;
        max-height: 20px;
        line-height: 20px;
    }

    h2 {
        font-size: 20px;
    }
}