/*
Firefox and fieldsets
Firefox has some awkward fieldset styling involving width that interferes with the responsive table. 
This cannot be overridden without a Firefox-specific hack (below) that we don't provide in Bootstrap:
*/
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

body { 
    padding-top: 70px; 
}

#main table {
    border-collapse: collapse;
    table-layout: fixed;
}

.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
    border: 1px solid #95A5A6;
}

#top {
    margin-bottom: 20px;
}

.rosterheader,
.section
{
    width: 100%;
}

td {
    border: 1px solid #95A5A6;
}

td:not(.shift) {
    padding: 0 5px;
}

.shift-input {
    outline: none;
    /* border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; */
    border: 0px;
    text-align: center;
    width: 100%;
    height: 48px;
    margin: auto;
}

.header {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

.secondary .header {
    font-size: 1.4rem;
}

.rowheader {
    max-width: 50px;
    width: 3%; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.name {
    width: 17%;
}

.position {
    width: 7%;
}

.shift {
    width: 10%;
}

.hours {
    width: 3%;
    /* text-align: right; */
}

.number {
    text-align: right;
}

.rosterrow, .section .title {
    height: 50px;
    max-height: 50px;
}

.title {
    margin-top: -1px;
    margin-bottom: -1px;
}

.section .title {
    border-left: 1px solid #95A5A6;
    border-right: 1px solid #95A5A6;
    /* margin-left: 1px;
    margin-right: 1px; */
    padding-left: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    background: palegoldenrod;
    width: 100%;
}

.section .details
{
    width: 100%;
}

#top {
    height: 50px;
    padding: 5px 5px 5px 10px; 
}

td.shift {
    padding: 1px;
}

.active {
    background: blue;
}

.missing {
    background: #FEF9E7;
}

.invalid,
.tooshort {
    background: #dc3545; /* #F5B7B1; */
    color: white;
}

/* .tooshort {
    background: pink;
} */

.toolong,
.ousidenormalhours {
    background: orange;
}

.onloan {
    background: purple;
    color: white;
}

.visiting {
    background: #06F850;    
}

h4 {
    display: inline;
}

/* #top .left {
    float: left;
    width: 70%;
}

#top .right {
    float: right;
    width: 30%;
    max-width: 300px;
} */

.left {
    float: left;
}

.right {
    float: right;
}

#top h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#top .legend {
    margin-left: 50px;
    /* margin-right: auto; */
}

/* #top .stats {
    width: 25%;
} */

.rostertotals {
    display: inline-block;
    width: 300px;
    margin-top: 20px;
    /* position: absolute;
    right: 0; */
    float: right;
}

.stats .title 
{
    width: 150px;
    background: palegoldenrod;
}

.rostertotals .title,
.legend .title
{
    width: 250px;
    background: palegoldenrod;
}

.stats .data, 
.rostertotals .data
{
    min-width: 50px;
    max-width: 50px;
}

.legend .data
{
    min-width: 25px;
    max-width: 25px;
}

.gradeA {
    color: blue;
}

.highlight {
    background: #F7F30C;
}

td.position {
    padding: 0;
}

td.position span {
    padding-left: 5px;
}

.position select {
    width: 100%;
    border: 0;
} 

.position select:focus {
    outline: 0;
}

.selectsearch-dialog input { /*#selectemployee-dialog input {*/
    width: 100%;
    height: 40px;
    font-size: 16px;
    background-image: url('/images/searchicon.png');
    background-position: 10px 9px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #95A5A6;
}

.selectsearch-dialog ul,
.selectshifts-dialog ul { /*#selectemployee-dialog ul {*/
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #95A5A6;
    margin-top: -1px;
}

.selectsearch-dialog li,
.selectshifts-dialog li { /*#selectemployee-dialog li {*/
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

.selectsearch-dialog li:active,
.selectshifts-dialog li:active { /*#selectemployee-dialog li:active {*/
    background-color: #ABB2B9;
}

#selectemployee-dialog .local {
    background-color: #D3E3F2;
}

.haserrors:not(.vdp-datepicker__calendar) > label,
.haserrors:not(.vdp-datepicker__calendar) > span {
    color: red;
}

.haserrors:not(.vdp-datepicker__calendar) > select {
    border-color: red;
}

.haserrors .vdp-datepicker input{
    border-color: red;
}

.contextmenu-disabled {
    pointer-events:none; 
    opacity:0.6;         
}

.shortname {
    display: none;
}

.shift-read {
    display: none;
}

.dropdown-menu li a {
    cursor: default;
}

.isclosed {
    text-align: center;
    background: #EBEDEF;
}

#locationlegend {
    display: none;
}

.drafttext {
    display: none;
}

.showdrafttext {
    display: none;
}

.readonly {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.loadercontainer {
    position: absolute;
    top: 200px;
    left: 0;
    margin: 0 50% 0 50%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media print {
    .rowheader,
    .position,
    .hours,
    .btn-add,
    .stats,
    .legend,
    .rostertotals,
    .longname,
    .shift-input, 
    .readonly {
        display: none;
    }

    body { 
        padding-top: 0px; 
    }

    #top {
        margin-bottom: 5px;
    }

    .table-bordered>tbody>tr>td, 
    .table-bordered>tbody>tr>th, 
    .table-bordered>tfoot>tr>td, 
    .table-bordered>tfoot>tr>th, 
    .table-bordered>thead>tr>td, 
    .table-bordered>thead>tr>th {
        border: 1px solid black !important; 
    }

    td {
        border: 1px solid black;
    }

    .shortname {
        display: inline;
        text-transform: uppercase;
        font-size: 1.3rem;
    }

    .shift {
        text-align: center;
    }

    .name:not(.header) {
        font-size: 1.2rem;
    }

    .shift-read {
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        line-height: normal;
    }

    .rosterrow {
        height: 0px;
        max-height: 0px;
    }

    .section .title {
        height: 20px;
        max-height: 20px;
        line-height: 20px;
    }

    h2 {
        font-size: 18px;
    }

    #locationlegend {
        display: block;
        margin-top: 20px;
        border: 1px solid black;
        padding: 3px;
    }

    #locationlegend span {
        display: inline-block;
        width:20%;
        font-size: 1rem;
    }

    .drafttext {
        display: block;
        position: absolute;
        font-size: 20rem;
        color: #95A5A6;
        top: 100px;
        left: 0px;
        text-align: center;
        opacity: 0.5;
        width: 100%;
    }
}